
@media only screen and (max-width: 800px) {
  #header {
    height: 65px;
    padding-left: 20px;
    padding-right: 10px;
  }
  #logo {
    font-size: 27px;
  }
  #perfilLink, #carrinhoLink {
    height: 25px;
  }
}