@media only screen and (max-width: 830px) {
  #poster {
    height: 260px;
    margin-bottom: 25px;
  }
  #lista {
    margin-bottom: 20px;
  }
  #produto {
    height: 300px;
    width: 245px;
  }
  #produtoImg {
    height: 220px;
  }
  #produtoTitulo {
    font-size: 17px;
  }
  #produtoPreco {
    font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  #poster {
    height: 170px;
    margin-bottom: 10px;
  }
  #posterOpcContainer {
    height: 17px;
    bottom: 7px;
  }
  .posterOpc {
    height: 14px;
  }
  #lista {
    margin-bottom: 10px;
  }
  #listaTitulo {
    margin-top: 1px;
  }
  #produto {
    height: 285px;
    width: 230px;
  }
  #produtoImg {
    height: 210px;
  }
  #produtoTitulo {
    font-size: 17px;
  }
  #produtoPreco {
    font-size: 18px;
  }
  #produtoCores {
    width: 26px;
  }
  #opcaoCor {
    height: 20px;
  }
}
